<nz-layout style="background-color: white;">
  <nz-header class="header">
    <nz-page-header class="page-header">
      <nz-page-header-title>客户管理</nz-page-header-title>
      <nz-page-header-extra>
        <nz-space>
          <button *nzSpaceItem nz-button nzType="primary" [disabled]="createClientButtonDisabled"
            (click)="createClient()">新建客户</button>
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>删除客户</button>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        <!-- <div style="display: flex; justify-content: space-between;"> -->
        <div style="display: flex;">
          <nz-statistic nzTitle="数量" [nzValue]="clients.length" nzSuffix="个"></nz-statistic>
          <!-- <div style="display: flex; flex-wrap: wrap; width: 50%;">
            <div style="width: 30%" class="input-cell">
              <p nz-typography nzEditable>客户：美的黄总</p>
            </div>
            <p style="width: 30%;">联系人：</p>
            <p style="width: 40%;">联系电话：</p>
            <p style="width: 50%;">地址：</p>
            <p style="width: 50%;">送货地址：</p>
            <nz-input-group style="width: 30%;" nzAddOnBefore="客户">
              <input nz-input>
            </nz-input-group>
            <nz-input-group style="width: 30%;" nzAddOnBefore="客户">
              <input nz-input>
            </nz-input-group>
            <nz-input-group style="width: 30%;" nzAddOnBefore="客户">
              <input nz-input>
            </nz-input-group>
          </div> -->
          <!-- <p>备注：</p> -->
          <div>
            <!-- <nz-select style="width: 200px;" nzShowSearch nzPlaceHolder="选择用户" [nzCustomTemplate]="selected_client"
              nzLoading="false" nzDisabled="false" (ngModelChange)="change($event)" [(ngModel)]="order['client']">
              <nz-option *ngFor="let data of technologies" [nzLabel]="pinyin.firstLetter(data['_id'])"
                [nzValue]="data['_id']" nzCustomContent="true">
                {{data['_id']}}
              </nz-option>
            </nz-select> -->
            <!-- <ng-template #selected_client let-selected>
              {{ selected.nzValue }}
            </ng-template> -->
          </div>
        </div>
        <!-- <nz-descriptions style="width: 60%;" nzSize="small" [nzColumn]="24">
            <nz-descriptions-item nzTitle="客户" [nzSpan]="4">
              <p class="description" nz-typography nzEditable>
                test
              </p>
              <nz-autocomplete [nzDataSource]="['test', 'hello', 'world']" nzBackfill #auto></nz-autocomplete>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="联系人" [nzSpan]="4">张钊洋先生
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="联系方式" [nzSpan]="8"><a>421421</a>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="地址" [nzSpan]="8"><a>421421</a>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="备注" [nzSpan]="16"><a>421421</a>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="送货地址" [nzSpan]="8"><a>421421</a>
            </nz-descriptions-item>
          </nz-descriptions> -->
        <!-- </div> -->
      </nz-page-header-content>
    </nz-page-header>
  </nz-header>
  <nz-content>
    <nz-table #basicTable [nzData]="clients" nzTableLayout="fixed" [nzPageSize]="dataService.getPageSize(410, 45)"
      [nzLoading]="loading">
      <thead>
        <tr>
          <th nzAlign="center">名称</th>
          <th nzAlign="center">默认售价</th>
          <th nzAlign="center">描述</th>
          <th nzAlign="center">联系人</th>
          <th nzAlign="center">联系方式</th>
          <th nzAlign="center">备注</th>
          <th nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; trackBy: utilsService.trackByIndex">
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" *ngIf="data['edit'] !== 1" (click)="data['edit'] = 1"
              [ngStyle]="{'color': data['name'] ? 'black' : 'lightgrey'}">
              {{data['name'] ? data['name'] : '请输入称呼'}}
            </div>
            <input nz-input type="text" *ngIf="data['edit'] === 1" (blur)="change(data)" [(ngModel)]="data['name']"
              [cdkTrapFocusAutoCapture]="data['edit'] === 1" [cdkTrapFocus]="data['edit'] === 1"
              (ngModelChange)="data['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" *ngIf="data['edit'] !== 2" (click)="data['edit'] = 2"
              [ngStyle]="{'color': data['unit_price']['default'] ? 'black' : 'lightgrey'}">
              {{data['unit_price']['default'] ? data['unit_price']['default'] : '请输入默认售价'}}
            </div>
            <input nz-input type="number" *ngIf="data['edit'] === 2" (blur)="change(data)"
              [(ngModel)]="data['unit_price']['default']" [cdkTrapFocusAutoCapture]="data['edit'] === 2"
              [cdkTrapFocus]="data['edit'] === 2" (ngModelChange)="data['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" *ngIf="data['edit'] !== 3" (click)="data['edit'] = 3"
              [ngStyle]="{'color': data['describe'] ? 'black' : 'lightgrey'}">
              {{data['describe'] ? data['describe'] : '—'}}
            </div>
            <input nz-input type="text" *ngIf="data['edit'] === 3" (blur)="change(data)" [(ngModel)]="data['describe']"
              [cdkTrapFocusAutoCapture]="data['edit'] === 3" [cdkTrapFocus]="data['edit'] === 3"
              (ngModelChange)="data['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" *ngIf="data['edit'] !== 5" (click)="data['edit'] = 5"
              [ngStyle]="{'color': data['linkman'] ? 'black' : 'lightgrey'}">
              {{data['linkman'] ? data['linkman'] : '—'}}
            </div>
            <input nz-input type="text" *ngIf="data['edit'] === 5" (blur)="change(data)" [(ngModel)]="data['linkman']"
              [cdkTrapFocusAutoCapture]="data['edit'] === 5" [cdkTrapFocus]="data['edit'] === 5"
              (ngModelChange)="data['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" *ngIf="data['edit'] !== 4" (click)="data['edit'] = 4"
              [ngStyle]="{'color': data['link'] ? 'black' : 'lightgrey'}">
              {{data['link'] ? data['link'] : '—'}}
            </div>
            <input nz-input type="text" *ngIf="data['edit'] === 4" (blur)="change(data)" [(ngModel)]="data['link']"
              [cdkTrapFocusAutoCapture]="data['edit'] === 4" [cdkTrapFocus]="data['edit'] === 4"
              (ngModelChange)="data['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" *ngIf="data['edit'] !== 6" (click)="data['edit'] = 6"
              [ngStyle]="{'color': data['remark'] ? 'black' : 'lightgrey'}">
              {{data['remark'] ? data['remark'].trim() ? data['remark'] : '&nbsp;' : '&nbsp;'}}
            </div>
            <input nz-input type="text" *ngIf="data['edit'] === 6" (blur)="change(data)" [(ngModel)]="data['remark']"
              [cdkTrapFocusAutoCapture]="data['edit'] === 6" [cdkTrapFocus]="data['edit'] === 6"
              (ngModelChange)="data['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis>
            <a [routerLink]="data.id_">售价管理</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
