<nz-layout style="background-color: white;">
  <nz-header style="margin-bottom: 20px;" class="header">
    <nz-page-header class="page-header" nzBackIcon (nzBack)="router.navigate(['../..'], { relativeTo: route })">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>
          <a routerLink="../..">工艺管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a *ngIf="id === 'new'">新建计划</a>
          <a *ngIf="id !== 'new'" routerLink="..">{{id? id.toUpperCase() : '加载中'}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item *ngIf="id !== 'new'">
          <a routerLink=".">添加订单</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-page-header-title>选择订单</nz-page-header-title>
      <nz-page-header-extra>
        <nz-space>
          <button nz-button *nzSpaceItem nzType="primary" (click)="select()" [disabled]="!checked && !indeterminate">确认选择</button>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        <div style="display: flex;">
          <nz-statistic nzTitle="已选择" [nzValue]="checkedOrder.length" nzSuffix="个"></nz-statistic>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </nz-header>
  <nz-content>
    <nz-table #basicTable [nzData]="orders" [nzPageSize]="dataService.getPageSize(430, 44)" [nzLoading]="loading">
      <!--document.body.offsetHeight-->
      <thead>
        <tr>
          <th [nzDisabled]="orders.length === 0" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"></th>
          <th nzAlign="center" width="120px">订单号</th>
          <th nzAlign="center">时间</th>
          <th nzAlign="center">客户</th>
          <th nzAlign="center">面积</th>
          <th nzAlign="center" *ngIf="dataService.info.role == 'boss'">价格</th>
          <th nzAlign="center">状态</th>
          <th nzAlign="center">备注</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; trackBy: utilsService.trackByIndex; index as i">
          <td [nzChecked]="data.checked" (nzCheckedChange)="onItemChecked(data, $event)"></td>
          <td nzAlign="center" style="font-family: monospace;">
            <div class="not-editable-cell">
              {{data.value.id_.toUpperCase()}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['date'] ? 'black' : 'lightgrey'}">
              {{data.value['date'] ? data.value['date'].substring(0, 10) : '—'}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['client'] ? 'black' : 'lightgrey'}">
              {{data.value['client'] ? clientService.cache[data.value['client']] : '未选择客户'}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['area'] ? 'black' : 'lightgrey'}">
              {{data.value['area'] ? data.value['area'].toFixed(2) + ' ㎡' : '—'}}
            </div>
          </td>
          <td nzAlign="center" *ngIf="dataService.info.role == 'boss'">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['price'] ? 'black' : 'lightgrey'}">
              {{data.value['price'] ? '¥ ' + data.value['price'] : '—'}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell">
              {{orderService.STATE[data.value['state']]}}
            </div>
          </td>
          <td [nzAlign]="data.value['remark'] ? 'left' : 'center'">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['remark'] ? 'black' : 'lightgrey'}">
              {{data.value['remark'] ? data.value['remark'] : '—'}}
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
