<nz-layout style="background-color: white;">
  <nz-header class="header">
    <nz-page-header class="page-header" nzBackIcon (nzBack)="onBack()">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>
          <a routerLink="..">工艺管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a routerLink=".">{{technology && technology['name'] ? technology['name'] : '未命名'}}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-page-header-title>材质管理</nz-page-header-title>
      <nz-page-header-extra>
        <nz-space>
          <button *nzSpaceItem nz-button nzType="primary" [disabled]="createTextureButtonDisabled"
            (click)="createTexture()">新建材质</button>
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>删除材质</button>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        <!-- <div style="display: flex; justify-content: space-between;"> -->
        <div style="display: flex;">
          <nz-statistic nzTitle="数量" [nzValue]="textures.length" nzSuffix="种"></nz-statistic>
          <!-- <div style="display: flex; flex-wrap: wrap; width: 50%;">
            <div style="width: 30%" class="input-cell">
              <p nz-typography nzEditable>客户：美的黄总</p>
            </div>
            <p style="width: 30%;">联系人：</p>
            <p style="width: 40%;">联系电话：</p>
            <p style="width: 50%;">地址：</p>
            <p style="width: 50%;">送货地址：</p>
            <nz-input-group style="width: 30%;" nzAddOnBefore="客户">
              <input nz-input>
            </nz-input-group>
            <nz-input-group style="width: 30%;" nzAddOnBefore="客户">
              <input nz-input>
            </nz-input-group>
            <nz-input-group style="width: 30%;" nzAddOnBefore="客户">
              <input nz-input>
            </nz-input-group>
          </div> -->
          <!-- <p>备注：</p> -->
          <div>
            <!-- <nz-select style="width: 200px;" nzShowSearch nzPlaceHolder="选择用户" [nzCustomTemplate]="selected_client"
              nzLoading="false" nzDisabled="false" (ngModelChange)="change($event)" [(ngModel)]="order['client']">
              <nz-option *ngFor="let data of technologies" [nzLabel]="pinyin.firstLetter(data['_id'])"
                [nzValue]="data['_id']" nzCustomContent="true">
                {{data['_id']}}
              </nz-option>
            </nz-select> -->
            <!-- <ng-template #selected_client let-selected>
              {{ selected.nzValue }}
            </ng-template> -->
          </div>
        </div>
        <!-- <nz-descriptions style="width: 60%;" nzSize="small" [nzColumn]="24">
            <nz-descriptions-item nzTitle="客户" [nzSpan]="4">
              <p class="description" nz-typography nzEditable>
                test
              </p>
              <nz-autocomplete [nzDataSource]="['test', 'hello', 'world']" nzBackfill #auto></nz-autocomplete>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="联系人" [nzSpan]="4">张钊洋先生
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="联系方式" [nzSpan]="8"><a>421421</a>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="地址" [nzSpan]="8"><a>421421</a>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="备注" [nzSpan]="16"><a>421421</a>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="送货地址" [nzSpan]="8"><a>421421</a>
            </nz-descriptions-item>
          </nz-descriptions> -->
        <!-- </div> -->
      </nz-page-header-content>
    </nz-page-header>
  </nz-header>
  <nz-content>
    <nz-table #basicTable [nzData]="textures" nzTableLayout="fixed" [nzLoading]="!technology">
      <thead>
        <tr>
          <th nzAlign="center" nzEllipsis nzWidth="15%">名称</th>
          <th nzAlign="center" nzEllipsis nzWidth="20%">描述</th>
          <th nzAlign="center" nzEllipsis nzWidth="12.5%">调整方式</th>
          <th nzAlign="center" nzEllipsis nzWidth="12.5%">调整因子</th>
          <th nzAlign="center" nzEllipsis nzWidth="20%">备注</th>
          <th nzAlign="center" nzEllipsis nzWidth="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" [hidden]="data.value['edit'] === 1" (click)="data.value['edit'] = 1">
              {{data.value['name'] ? data.value['name'] : '无数据'}}
            </div>
            <input nz-input type="text" [hidden]="data.value['edit'] !== 1" (blur)="change(data.value)"
              [(ngModel)]="data.value['name']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 1"
              [cdkTrapFocus]="data.value['edit'] === 1" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" [hidden]="data.value['edit'] === 2" (click)="data.value['edit'] = 2">
              {{data.value['describe'] ? data.value['describe'] : '-'}}
            </div>
            <input nz-input type="text" [hidden]="data.value['edit'] !== 2" (blur)="change(data.value)"
              [(ngModel)]="data.value['describe']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 2"
              [cdkTrapFocus]="data.value['edit'] === 2" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" [hidden]="data.value['edit'] === 3" (click)="data.value['edit'] = 3">
              {{data.value['pattern'] ? data.value['pattern'] : '无数据'}}
            </div>
            <nz-select style="position: relative; width: 100%" [hidden]="data.value['edit'] !== 3" nzShowSearch
              nzPlaceHolder="选择工艺" [nzCustomTemplate]="selected_technology" [(ngModel)]="data.value['pattern']"
              (ngModelChange)="patternSelect(data.value)" [nzOpen]="data.value['edit'] === 3"
              (nzBlur)="clearFocus(data.value)">
              <nz-option *ngFor="let name of patterns" [nzLabel]="pinyinService.firstLetter(name)" [nzValue]="name"
                nzCustomContent="true">
                {{name}}
              </nz-option>
              <ng-template #selected_technology let-selected>
                {{ selected.nzValue }}
              </ng-template>
            </nz-select>
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" [hidden]="data.value['edit'] === 4" (click)="data.value['edit'] = 4">
              {{data.value['factor'] ? data.value['factor'] : '无数据'}}
            </div>
            <input nz-input type="number" [hidden]="data.value['edit'] !== 4" (blur)="change(data.value)"
              [(ngModel)]="data.value['factor']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 4"
              [cdkTrapFocus]="data.value['edit'] === 4" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis class="editable-unit">
            <div class="editable-cell" [hidden]="data.value['edit'] === 5" (click)="data.value['edit'] = 5">
              {{data.value['remark'] ? data.value['remark'] : '-'}}
            </div>
            <input nz-input type="text" [hidden]="data.value['edit'] !== 5" (blur)="change(data.value)"
              [(ngModel)]="data.value['remark']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 5"
              [cdkTrapFocus]="data.value['edit'] === 5" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td nzAlign="center" nzEllipsis>
            <a [routerLink]="data.key">外观管理</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.key)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
