<nz-layout style="background-color: white;">
  <nz-header style="margin-bottom: 20px;" class="header">
    <nz-page-header class="page-header">
      <nz-page-header-title>订单录入</nz-page-header-title>
      <nz-page-header-extra>
        <nz-space>
          <button nz-button *nzSpaceItem nzType="default"></button>
          <button nz-button *nzSpaceItem nzType="default" (click)=" createOrder()">新建订单</button>
          <button nz-button *nzSpaceItem nzType="primary" [disabled]="!indeterminate && !checked"
            (click)="bulkTypein()">录入订单</button>
          <button nz-button *nzSpaceItem nzType="primary" [disabled]="!indeterminate && !checked" (click)="bulkDelete()"
            nzDanger>删除订单</button>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        <div style="display: flex;">
          <nz-statistic nzTitle="录入中" [nzValue]="editList.length" nzSuffix="个"></nz-statistic>
          <nz-statistic nzTitle="已录入" [nzValue]="orders.length - editList.length" nzSuffix="个" style="margin: 0 32px">
          </nz-statistic>
          <nz-statistic *ngIf="dataService.info.role === 'boss'" nzTitle="录入价格" style=" margin-right: 32px;"
            [nzValue]="price.toFixed(2)" nzPrefix="¥">
          </nz-statistic>
          <nz-statistic *ngIf="dataService.info.role === 'boss'" nzTitle="平均价格" style=" margin-right: 32px;"
            [nzValue]="orders.length ? (price / orders.length).toFixed(2) : '0.00'" nzPrefix="¥">
          </nz-statistic>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </nz-header>
  <nz-content>
    <nz-table #basicTable [nzData]="orders" [nzPageSize]="dataService.getPageSize(430, 44)" [nzLoading]="loading">
      <!--document.body.offsetHeight-->
      <thead>
        <tr>
          <th [nzDisabled]="orders.length === 0" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"></th>
          <th nzAlign="center" width="120px">订单号</th>
          <th nzAlign="center">时间</th>
          <th nzAlign="center">客户</th>
          <th nzAlign="center">面积</th>
          <th nzAlign="center" *ngIf="dataService.info.role == 'boss'">价格</th>
          <th nzAlign="center">状态</th>
          <th nzAlign="center">备注</th>
          <th nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr (dblclick)="edit(data)"
          *ngFor="let data of basicTable.data; trackBy: utilsService.trackByIndex; index as i">
          <td [nzChecked]="data.checked" (nzCheckedChange)="onItemChecked(data, $event)"></td>
          <td nzAlign="center" style="font-family: monospace;">
            <div class="not-editable-cell">
              {{data.value.id_.toUpperCase()}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['date'] ? 'black' : 'lightgrey'}">
              {{data.value['date'] ? data.value['date'].substring(0, 10) : '—'}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['client'] ? 'black' : 'lightgrey'}">
              {{data.value['client'] ? clientService.cache[data.value['client']] : '未选择客户'}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['area'] ? 'black' : 'lightgrey'}">
              {{data.value['area'] ? data.value['area'].toFixed(2) + ' ㎡' : '—'}}
            </div>
          </td>
          <td nzAlign="center" *ngIf="dataService.info.role == 'boss'">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['price'] ? 'black' : 'lightgrey'}">
              {{data.value['price'] ? '¥ ' + data.value['price'] : '—'}}
            </div>
          </td>
          <td nzAlign="center">
            <div class="not-editable-cell">
              {{orderService.STATE[data.value['state']]}}
            </div>
          </td>
          <td [nzAlign]="data.value['remark'] ? 'left' : 'center'">
            <div class="not-editable-cell" [ngStyle]="{'color': data.value['remark'] ? 'black' : 'lightgrey'}">
              {{data.value['remark'] ? data.value['remark'] : '—'}}
            </div>
          </td>
          <td nzAlign="center">
            <a [routerLink]="data.value.id_">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a *ngIf="data.value['state']===0" (click)="typein(data)">录入</a>
            <a *ngIf="data.value['state']===1" (click)="typeout(data)">恢复</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
