<nz-layout style="background-color: white;">
  <nz-header class="header">
    <nz-page-header class="page-header" (nzBack)="onBack()" nzBackIcon>
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>
          <a routerLink="..">全部订单</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a routerLink=".">{{id?.toUpperCase()}}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-page-header-title>订单编辑</nz-page-header-title>
      <nz-page-header-subtitle>
        <p style="margin: 0" nz-typography nzCopyable [nzContent]="id">{{id}}</p>
      </nz-page-header-subtitle>
      <nz-page-header-extra>
        <nz-space>
          <button *nzSpaceItem nz-button>元数据编辑</button>
          <button *nzSpaceItem nz-button nzType="primary" (click)="createProduct()">新建产品</button>
          <button *nzSpaceItem nz-button nzType="primary" nzDanger>删除产品</button>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        <!-- <div style="display: flex; justify-content: space-between;"> -->
        <div style="display: flex;">
          <nz-statistic nzTitle="状态" [nzValue]="order ? orderService.STATE[order['state']] : '加载中'"></nz-statistic>
          <nz-statistic nzTitle="面积" [nzValue]="order && order['area'] ? order['area'] : 0" nzSuffix="㎡"
            style="margin: 0 32px">
          </nz-statistic>
          <nz-statistic *ngIf="true" nzTitle="价格" style=" margin-right: 32px;"
            [nzValue]="order && order['price'] ? order['price'] : 0" nzPrefix="¥">
          </nz-statistic>
          <!--          <div style="flex-grow: 1;">-->
          <!--            <div>select</div>-->
          <!--            <nz-select *ngIf="false" nzShowSearch nzPlaceHolder="选择用户" nzLoading="false" nzDisabled="false"-->
          <!--              (ngModelChange)="change($event)" [(ngModel)]="order['client']" [nzOptions]="clientService.options"-->
          <!--              [nzFilterOption]="pinyin.SearchByPinyin">-->
          <!--            </nz-select>-->
          <!--          </div>-->
          <table style="flex-grow: 1;" *ngIf="order">
            <tbody>
              <tr>
                <td class="unit" width="25%">
                  <div class="cell" style="display: block;" *ngIf="order['edit'] !== 1" (click)="order['edit'] = 1"
                    [ngStyle]="{'color': order['client'] ? 'black' : 'lightgrey'}">
                    {{'客户：' + (order['client'] ? clientService.cache[order['client']] : '—')}}
                  </div>
                  <nz-select style="display: block; width: 100%;" nzSize="small" *ngIf="order['edit'] === 1"
                    nzShowSearch nzPlaceHolder="选择用户" (ngModelChange)="orderSelect(order, 'client', $event)"
                    [(ngModel)]="order['client']" (nzBlur)="clearFocus(order)" [nzOptions]="clientService.options"
                    [nzFilterOption]="pinyin.SearchByPinyin" [nzOpen]="order['edit'] === 1"
                    [cdkTrapFocusAutoCapture]="order['edit'] === 1" [cdkTrapFocus]="order['edit'] === 1">
                  </nz-select>
                </td>
                <td class="unit" width="25%">
                  <div class="cell" style="display: block;" *ngIf="order['edit'] !== 2" (click)="order['edit'] = 2"
                    [ngStyle]="{'color': order['linkman'] ? 'black' : 'lightgrey'}">
                    {{'联系人：' + (order['linkman'] ? order['linkman'] : '—')}}
                  </div>
                  <input nzSize="small" nz-input type="text" [hidden]="order['edit'] !== 2" (blur)="orderUpdate(order)"
                    [(ngModel)]="order['linkman']" [cdkTrapFocusAutoCapture]="order['edit'] === 2"
                    [cdkTrapFocus]="order['edit'] === 2" (ngModelChange)="order['change'] = true" />
                </td>
                <td class="unit" width="25%" colspan="2">
                  <div class="cell" style="display: block;" *ngIf="order['edit'] !== 3" (click)="order['edit'] = 3"
                    [ngStyle]="{'color': order['link'] ? 'black' : 'lightgrey'}">
                    {{'联系方式：' + (order['link'] ? order['link'] : '—')}}
                  </div>
                  <input nzSize="small" nz-input type="text" [hidden]="order['edit'] !== 3" (blur)="orderUpdate(order)"
                    [(ngModel)]="order['link']" [cdkTrapFocusAutoCapture]="order['edit'] === 3"
                    [cdkTrapFocus]="order['edit'] === 3" (ngModelChange)="order['change'] = true" />
                </td>
                <td class="unit" style="height: 100%;" width="25%" rowspan="1">
                  <div class="cell" style="display: block; height: auto;" *ngIf="order['edit'] !== 4"
                    (click)="order['edit'] = 4" [ngStyle]="{'color': order['date'] ? 'black' : 'lightgrey'}">
                    {{'时间：' + (date ? date : '—')}}
                  </div>
                  <nz-date-picker *ngIf="order['edit'] === 4" nzSize='small' (blur)="clearFocus(order)"
                    nzOpen="order['edit'] === 4" [(ngModel)]="order['date']"
                    [cdkTrapFocusAutoCapture]="order['edit'] === 3" [cdkTrapFocus]="order['edit'] === 3"
                    (ngModelChange)="orderSelect(order, 'date', $event)"></nz-date-picker>
                </td>
              </tr>
              <tr>
                <td class="unit" width="25%">
                  <div class="cell" style="display: block;" *ngIf="order['edit'] !== 5" (click)="order['edit'] = 5"
                    [ngStyle]="{'color': order['code'] ? 'black' : 'lightgrey'}">
                    {{'客编：' + (order['code'] ? order['code'] : '—')}}
                  </div>
                  <input nzSize="small" nz-input type="text" [hidden]="order['edit'] !== 5" (blur)="orderUpdate(order)"
                    [(ngModel)]="order['code']" [cdkTrapFocusAutoCapture]="order['edit'] === 5"
                    [cdkTrapFocus]="order['edit'] === 5" (ngModelChange)="order['change'] = true" />
                </td>
                <td class="unit" width="35%" colspan="2">
                  <div class="cell" style="display: block;" *ngIf="order['edit'] !== 6" (click)="order['edit'] = 6"
                    [ngStyle]="{'color': order['address'] ? 'black' : 'lightgrey'}">
                    {{'地址：' + (order['address'] ? order['address'] : '—')}}
                  </div>
                  <input nzSize="small" nz-input type="text" [hidden]="order['edit'] !== 6" (blur)="orderUpdate(order)"
                    [(ngModel)]="order['address']" [cdkTrapFocusAutoCapture]="order['edit'] === 6"
                    [cdkTrapFocus]="order['edit'] === 6" (ngModelChange)="order['change'] = true" />
                </td>
                <td class="unit" style="height: 100%;" width="40%" colspan="2">
                  <div class="cell" style="display: block; height: auto;" *ngIf="order['edit'] !== 7"
                    (click)="order['edit'] = 7" [ngStyle]="{'color': order['remark'] ? 'black' : 'lightgrey'}">
                    {{'备注：' + (order['remark'] ? order['remark'] : '—')}}
                  </div>
                  <input nzSize="small" nzSize="small" nz-input type="text" [hidden]="order['edit'] !== 7"
                    (blur)="orderUpdate(order)" [(ngModel)]="order['remark']"
                    [cdkTrapFocusAutoCapture]="order['edit'] === 7" [cdkTrapFocus]="order['edit'] === 7"
                    (ngModelChange)="order['change'] = true" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </nz-header>
  <nz-content>
    <nz-table #basicTable [nzData]="products" nzTableLayout="fixed" [nzLoading]="!order"
      [nzPageSize]="dataService.getPageSize(430, 44)">
      <thead>
        <tr>
          <th nzWidth="30px"></th>
          <th nzWidth="60px" nzAlign="center">编号</th>
          <th nzWidth="8%" nzAlign="center">工艺</th>
          <th nzWidth="8%" nzAlign="center">材质</th>
          <th nzWidth="8%" nzAlign="center">颜色</th>
          <th nzWidth="8%" nzAlign="center">类型</th>
          <th nzWidth="8%" nzAlign="center">数量</th>
          <th nzWidth="8%" nzAlign="center">长度</th>
          <th nzWidth="8%" nzAlign="center">宽度</th>
          <th *ngIf="dataService.info.role == 'boss'" nzAlign="center">单价</th>
          <th nzAlign="center">面积</th>
          <th *ngIf="dataService.info.role == 'boss'" nzAlign="center">价格</th>
          <th nzWidth="10%" nzAlign="center">备注</th>
          <!-- <th style="width: 120px;">自动计算</th> -->
          <th nzAlign="center">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; trackBy: utilsService.trackByIndex; index as i">
          <!-- pinyin.firstLetter(technologies.cache[key] ? technologies.cache[key] : '') -->
          <td nzAlign="center">
            {{(basicTable.nzPageIndex - 1) * basicTable.nzPageSize + i + 1}}
          </td>
          <td nzAlign="center" style="font-family: monospace;">
            {{data.key.toUpperCase()}}
          </td>
          <td class="editable-unit" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 1" (click)="data.value['edit'] = 1"
              [ngStyle]="{'color': data.value['technology'] ? 'black' : 'lightgrey'}">
              {{technologyService.cache[data.value['technology']] ? technologyService.cache[data.value['technology']] :
              '请选择'}}
            </div>
            <nz-select style="position: relative; width: 100%" *ngIf="data.value['edit'] === 1" nzShowSearch
              nzPlaceHolder="选择工艺" [(ngModel)]="data.value['technology']"
              (ngModelChange)="selectClear(data, ['texture', 'color']);productSelect(data.value)"
              [nzOpen]="data.value['edit'] === 1" (nzBlur)="clearFocus(data.value)"
              [nzFilterOption]="pinyin.SearchByPinyin"
              [nzOptions]="technologyService.options['technology'] ? technologyService.options['technology'] : []"
              [cdkTrapFocusAutoCapture]="data.value['edit'] === 1" [cdkTrapFocus]="data.value['edit'] === 1">
            </nz-select>
          </td>
          <td *ngIf="!data.value['technology']" nzAlign="center">
            <div [ngStyle]="{'color': 'lightgrey' }">
              —
            </div>
            <!-- 请选择工艺 -->
          </td>
          <td *ngIf="data.value['technology']" class="editable-unit" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 8" (click)="data.value['edit'] = 8"
              [ngStyle]="{'color': data.value['texture'] ? 'black' : 'lightgrey'}">
              {{technologyService.cache[data.value['technology'] + data.value['texture']] ?
              technologyService.cache[data.value['technology'] +
              data.value['texture']] : '—'}}
            </div>
            <nz-select style="position: relative; width: 100%" *ngIf="data.value['edit'] === 8" nzShowSearch
              nzPlaceHolder="选择材质" [(ngModel)]="data.value['texture']"
              (ngModelChange)="selectClear(data, ['color']);productSelect(data.value)"
              [nzOpen]="data.value['edit'] === 8" (nzBlur)="clearFocus(data.value)"
              [nzFilterOption]="pinyin.SearchByPinyin"
              [nzOptions]="technologyService.options[data.value['technology']] ? technologyService.options[data.value['technology']] : []"
              [cdkTrapFocusAutoCapture]="data.value['edit'] === 8" [cdkTrapFocus]="data.value['edit'] === 8">
            </nz-select>
          </td>
          <td *ngIf="!data.value['texture']" nzAlign="center">
            <div [ngStyle]="{'color': 'lightgrey'}">
              —
            </div>
            <!-- {{data.value['technology'] ? '请选择材质' : '请选择工艺'}} -->
          </td>
          <td *ngIf="data.value['texture']" class="editable-unit" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 9" (click)="data.value['edit'] = 9"
              [ngStyle]="{'color': data.value['color'] ? 'black' : 'lightgrey'}">
              {{technologyService.cache[data.value['technology'] + data.value['texture'] + data.value['color']] ?
              technologyService.cache[data.value['technology'] + data.value['texture'] + data.value['color']] : '请选择'}}
            </div>
            <nz-select style="position: relative; width: 100%" *ngIf="data.value['edit'] === 9" nzShowSearch
              nzPlaceHolder="选择颜色" [(ngModel)]="data.value['color']" (ngModelChange)="productSelect(data.value)"
              [nzOpen]="data.value['edit'] === 9" (nzBlur)="clearFocus(data.value)"
              [nzFilterOption]="pinyin.SearchByPinyin"
              [nzOptions]="technologyService.options[data.value['technology'] + data.value['texture']] ? technologyService.options[data.value['technology'] + data.value['texture']] : []"
              [cdkTrapFocusAutoCapture]="data.value['edit'] === 9" [cdkTrapFocus]="data.value['edit'] === 9">
            </nz-select>
          </td>
          <td class="editable-unit" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 10" (click)="data.value['edit'] = 10"
              [ngStyle]="{'color': data.value['type'] ? 'black' : 'lightgrey'}">
              {{data.value['type'] ? data.value['type'] : '请选择'}}
            </div>
            <nz-select style="position: relative; width: 100%" *ngIf="data.value['edit'] === 10" nzShowSearch
              nzPlaceHolder="选择类型" [(ngModel)]="data.value['type']" [nzOptions]="dataService.AirGratingOptions"
              (ngModelChange)="productSelect(data.value)" [nzOpen]="data.value['edit'] === 10"
              (nzBlur)="clearFocus(data.value)" [cdkTrapFocusAutoCapture]="data.value['edit'] === 10"
              [cdkTrapFocus]="data.value['edit'] === 10">
            </nz-select>
          </td>
          <td class="editable-unit" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 11" (click)="data.value['edit'] = 11"
              [ngStyle]="{'color': data.value['quentity'] ? 'black' : 'lightgrey'}">
              {{data.value['quentity'] ? data.value['quentity'] : 1}}
            </div>
            <input nz-input type="number" *ngIf="data.value['edit'] === 11" (blur)="productChange(data)"
              [(ngModel)]="data.value['quentity']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 11"
              [cdkTrapFocus]="data.value['edit'] === 11" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td class="editable-unit" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 2" (click)="data.value['edit'] = 2"
              [ngStyle]="{'color': data.value['length'] ? 'black' : 'lightgrey'}">
              {{data.value['length'] ? data.value['length'] + ' cm' : '请输入'}}
            </div>
            <input nz-input type="number" *ngIf="data.value['edit'] === 2" (blur)="productChange(data)"
              [(ngModel)]="data.value['length']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 2"
              [cdkTrapFocus]="data.value['edit'] === 2" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td class="editable-unit" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 3" (click)="data.value['edit'] = 3"
              [ngStyle]="{'color': data.value['width'] ? 'black' : 'lightgrey'}">
              {{data.value['width'] ? data.value['width'] + ' cm' : '请输入'}}
            </div>
            <input nz-input type="number" *ngIf="data.value['edit'] === 3" (blur)="productChange(data)"
              [(ngModel)]="data.value['width']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 3"
              [cdkTrapFocus]="data.value['edit'] === 3" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td class="editable-unit" *ngIf="dataService.info.role == 'boss'" nzEllipsis=true nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 4" (click)="data.value['edit'] = 4"
              [ngStyle]="{'color': data.value['unit_price'] ? 'black' : 'lightgrey'}">
              {{data.value['unit_price'] ? '¥ ' + data.value['unit_price'] + '/㎡' : '—'}}
            </div>
            <input nz-input type="number" *ngIf="data.value['edit'] === 4" (blur)="productChange(data)"
              [(ngModel)]="data.value['unit_price']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 4"
              [cdkTrapFocus]="data.value['edit'] === 4" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td class="editable-unit" nzEllipsis=true nzAlign="center">
            <div [ngStyle]="{'color': data.value['area'] ? 'black' : 'lightgrey'}">
              {{data.value['area'] ? data.value['area'].toFixed(2) + ' ㎡' : '—'}}
            </div>
          </td>
          <td class="editable-unit" *ngIf="dataService.info.role == 'boss'" nzEllipsis nzAlign="center">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 6" (click)="data.value['edit'] = 6"
              [ngStyle]="{'color': data.value['price'] ? 'black' : 'lightgrey'}">
              {{data.value['price'] ? '¥ ' + data.value['price'].toFixed(2) : '—'}}
            </div>
            <input nz-input type="number" *ngIf="data.value['edit'] === 6" (blur)="productChange(data, false)"
              [(ngModel)]="data.value['price']" [cdkTrapFocusAutoCapture]="data.value['edit'] === 6"
              [cdkTrapFocus]="data.value['edit'] === 6" (ngModelChange)="data.value['change'] = true" />
          </td>
          <td class="editable-unit" nzEllipsis="true">
            <div class="editable-cell" *ngIf="data.value['edit'] !== 7" (click)="data.value['edit'] = 7"
              [ngStyle]="{'color': data.value['remark'] ? 'black' : 'lightgrey'}">
              {{data.value['remark'] ? data.value['remark'] : '&nbsp;'}}
            </div>
            <textarea class="table-textarea" nz-input type="text" *ngIf="data.value['edit'] === 7"
              (blur)="productChange(data)" [(ngModel)]="data.value['remark']"
              [cdkTrapFocusAutoCapture]="data.value['edit'] === 7" [cdkTrapFocus]="data.value['edit'] === 7"
              (ngModelChange)="data.value['change'] = true"></textarea>
          </td>
          <td nzAlign="center">
            <a (click)="productDelete(data)">删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>